# Tarea 1 Bases de Datos 2023-1 Grupo XX

## Integrantes:
* Gustav Jacobsson - 202290241-8
* Nombre Integrante 2 - Rol-2

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [3]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

Requirement already satisfied: ipython-sql in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (0.5.0)
Requirement already satisfied: sqlparse in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: ipython-genutils in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: six in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.9)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: jedi>=0.16 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: colorama in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: backcall in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: pickleshare in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.14.0)
Requirement already satisfied: traitlets>=5 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: matplotlib-inline in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: stack-data in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: wcwidth in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.2.1)

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2 in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (2.9.6)

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: names in c:\users\kaled\appdata\local\programs\python\python310\lib\site-packages (0.3.0)

[notice] A new release of pip available: 22.2.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:papelucho1@localhost:5432/Tarea1DB

env: DATABASE_URL=postgresql://postgres:papelucho1@localhost:5432/Tarea1DB

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Tarea1DB',
   password="papelucho1"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x0000029553DDCF20; dsn: 'user=postgres password=xxx dbname=Tarea1DB host=localhost', closed: 0>

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [13]:
%%sql CREATE TABLE facciones(
	id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
	nombre VARCHAR(45) NOT NULL,
	descripcion VARCHAR(45) NOT NULL
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

### Tabla "trabajos" (6 pts)

In [14]:
%%sql CREATE TABLE trabajos(
	id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
	nombre VARCHAR(45) NOT NULL,
	descripcion VARCHAR(45) NOT NULL,
    sueldo INTEGER NOT NULL	
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

### Tabla "personas" (6 pts)

In [16]:
%%sql CREATE TABLE personas(
	id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
	nombre VARCHAR(45) NOT NULL,
    apellidos VARCHAR(45) NOT NULL,
    fecha_nacimiento DATE NOT NULL,
	infectado BOOL NOT NULL,
    conyugue INTEGER,
    FOREIGN KEY (conyugue) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

### Tabla "cuentas_bancarias" (6 pts)

In [17]:
%%sql CREATE TABLE cuentas_bancarias(
	id INTEGER PRIMARY KEY GENERATED ALWAYS AS IDENTITY,
	tipo_de_cuenta VARCHAR(45) NOT NULL,
	banco VARCHAR(45) NOT NULL,
    saldo INTEGER NOT NULL,
    id_persona INTEGER NOT NULL,
    FOREIGN KEY (id_persona) REFERENCES personas (id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

### Tabla "persona_pertenece_faccion" (6 pts)

In [18]:
%%sql CREATE TABLE persona_pertenece_faccion(
	id_persona INTEGER,
    id_faccion INTEGER,
    FOREIGN KEY (id_persona) REFERENCES personas(id),
    FOREIGN KEY (id_faccion) REFERENCES facciones(id),
	PRIMARY KEY(id_persona,id_faccion)
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

### Tabla "persona_tiene_trabajo" (6 pts)

In [25]:
%%sql CREATE TABLE persona_tiene_trabajo(
	id_persona INTEGER,
    id_trabajo INTEGER,
    estado BOOL NOT NULL,
    ultima_vez_realizado TIMESTAMP NOT NULL,
    FOREIGN KEY (id_persona) REFERENCES personas(id)
);

 * postgresql://postgres:***@localhost:5432/Tarea1DB
Done.

[]

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [26]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [35]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    *
FROM 
    personas;

 * postgresql://postgres:***@localhost:5432/Tarea1DB
1000 rows affected.

[(1, 'Stephen', 'Massey Free', datetime.date(1982, 3, 2), False, None),
 (2, 'Donn', 'Rutenberg Mcknight', datetime.date(1996, 6, 4), False, None),
 (5, 'Richard', 'Rivera Ciprian', datetime.date(1997, 10, 6), False, None),
 (6, 'Charlene', 'Wysocki Thomas', datetime.date(1986, 2, 14), False, None),
 (7, 'Bernice', 'Waddle Ammons', datetime.date(1993, 12, 16), True, None),
 (8, 'Vernon', 'Cliff Capito', datetime.date(1986, 11, 24), True, None),
 (9, 'Bruce', 'Heywood Parker', datetime.date(2012, 4, 18), True, None),
 (10, 'Patty', 'Johnson Garbacz', datetime.date(2016, 8, 7), True, None),
 (11, 'Patrick', 'Hill Guillory', datetime.date(2015, 2, 16), False, None),
 (12, 'Teresita', 'Eatman Robison', datetime.date(1979, 2, 23), True, None),
 (13, 'Terry', 'Gonzales Switzer', datetime.date(1993, 10, 25), False, None),
 (14, 'Jay', 'Davis Reed', datetime.date(2012, 9, 24), False, None),
 (15, 'Abigail', 'Howell Wilson', datetime.date(2003, 8, 22), True, None),
 (16, 'Dee', 'Ascolese Isaksen', datetime.date(2008, 5, 17), False, None),
 (18, 'Burl', 'Homer Griffin', datetime.date(1977, 8, 30), True, None),
 (19, 'Jessica', 'Gomez Dreher', datetime.date(1976, 6, 20), True, None),
 (20, 'Megan', 'Bennett Stringfellow', datetime.date(2016, 6, 7), True, None),
 (21, 'Margarita', 'Thompson Ferguson', datetime.date(2008, 1, 25), True, None),
 (22, 'Celeste', 'Benson Yates', datetime.date(2000, 6, 16), True, None),
 (24, 'Marvin', 'Rockwell Smith', datetime.date(1972, 8, 21), False, None),
 (26, 'Gary', 'Humes Bryant', datetime.date(1975, 9, 23), False, None),
 (27, 'Irene', 'Bullock Nase', datetime.date(2010, 3, 30), False, None),
 (28, 'Ashley', 'Hancock Khoury', datetime.date(1995, 4, 14), False, None),
 (29, 'Herb', 'Morgan Jones', datetime.date(1973, 12, 26), False, None),
 (30, 'Karl', 'Curb Hernandez', datetime.date(1986, 6, 30), False, None),
 (31, 'Gerald', 'Bartz Hutchison', datetime.date(1980, 8, 29), False, None),
 (33, 'Marian', 'Guardado Justice', datetime.date(2010, 7, 20), True, None),
 (34, 'Ana', 'Stannard Harrison', datetime.date(2007, 10, 30), False, None),
 (36, 'Mathew', 'Dake Chase', datetime.date(1975, 8, 10), True, None),
 (37, 'Matthew', 'Smith Marshall', datetime.date(1978, 5, 26), False, None),
 (38, 'Kenneth', 'Cooper Thomas', datetime.date(1982, 12, 23), True, None),
 (39, 'Roger', 'Panto Feather', datetime.date(1979, 3, 8), False, None),
 (40, 'Selena', 'Negron Orwig', datetime.date(1999, 12, 12), False, None),
 (41, 'Jennifer', 'Schwartz Debar', datetime.date(2013, 6, 10), False, None),
 (42, 'Michael', 'Humphrey Chapman', datetime.date(2016, 9, 8), True, None),
 (44, 'Barbara', 'Allbright Poole', datetime.date(2015, 12, 9), True, None),
 (45, 'Mary', 'Peak Loiseau', datetime.date(1974, 8, 31), False, None),
 (47, 'Willie', 'Law Nyman', datetime.date(2012, 9, 25), False, None),
 (48, 'Patricia', 'Reid Ward', datetime.date(1975, 6, 1), True, None),
 (49, 'William', 'Davis Chisley', datetime.date(1993, 5, 3), False, None),
 (50, 'Jan', 'Armstrong Deloach', datetime.date(2022, 10, 1), True, None),
 (52, 'Jessie', 'Jones Garcia', datetime.date(1983, 10, 27), True, None),
 (53, 'Melvin', 'Barbee Pearson', datetime.date(1979, 5, 1), True, None),
 (54, 'Albert', 'King Bowlds', datetime.date(1985, 7, 7), True, None),
 (55, 'Rose', 'Robles Shanholtzer', datetime.date(1981, 12, 30), False, None),
 (56, 'Bruce', 'Reed Smith', datetime.date(2022, 12, 23), True, None),
 (57, 'Maren', 'May Mitchell', datetime.date(2015, 3, 30), True, None),
 (58, 'Francis', 'Mcleod Valdez', datetime.date(1978, 4, 30), True, None),
 (59, 'Brenda', 'Mehtani Kort', datetime.date(2022, 5, 15), False, None),
 (60, 'Lilia', 'Burkhart Uplinger', datetime.date(1997, 7, 11), False, None),
 (62, 'Stephanie', 'Evans Garnett', datetime.date(1975, 10, 28), False, None),
 (63, 'David', 'Griffin Neu', datetime.date(2017, 9, 30), False, None),
 (64, 'Lana', 'Kelly Pearson', datetime.date(2022, 3, 27), True, None),
 (65, 'Sandra', 'Strawn Hill', datetime.date(1997, 11, 20), False, None),
 (66, 'Sally', 'Lewis Helstrom', datetime.date(1993, 11, 27), True, None),
 (67, 'Bridget', 'Jones Clopton', datetime.date(2000, 4, 23), True, None),
 (69, 'Muriel', 'Newman Cannon', datetime.date(2020, 7, 5), True, None),
 (70, 'Daren', 'Loque Fisher', datetime.date(1998, 8, 10), False, None),
 (73, 'Antonio', 'Serasio Patrick', datetime.date(2011, 12, 9), False, None),
 (74, 'Emily', 'Scala Clynes', datetime.date(1993, 7, 31), True, None),
 (75, 'Luis', 'Way Sparks', datetime.date(2010, 2, 4), False, None),
 (76, 'Sherri', 'Gundrum Knight', datetime.date(1993, 12, 9), True, None),
 (77, 'Eugene', 'Harvey Alcorn', datetime.date(1990, 3, 15), True, None),
 (78, 'Louis', 'Easterly Dean', datetime.date(2013, 3, 15), True, None),
 (79, 'Charles', 'Wingfield Cole', datetime.date(2002, 3, 17), True, None),
 (80, 'Holly', 'Stewart Novetsky', datetime.date(2009, 11, 27), False, None),
 (82, 'Rita', 'Griffin Whitehead', datetime.date(2009, 6, 20), True, None),
 (83, 'Julian', 'Yazzie Blount', datetime.date(1980, 10, 31), False, None),
 (85, 'Maria', 'Foglesong Buchanon', datetime.date(1989, 2, 19), False, None),
 (87, 'Dan', 'Oneill Connolly', datetime.date(2017, 6, 30), True, None),
 (88, 'Rebecca', 'Helfer Costa', datetime.date(1981, 11, 12), True, None),
 (89, 'Kelly', 'Mcbride Turner', datetime.date(1970, 5, 28), False, None),
 (90, 'George', 'Noel Sollenberger', datetime.date(2007, 8, 28), False, None),
 (91, 'Charles', 'Derr Mendoza', datetime.date(1980, 11, 3), False, None),
 (93, 'Harry', 'Denmon Bragg', datetime.date(1983, 3, 27), False, None),
 (94, 'Andrew', 'Grimes Matthewson', datetime.date(1983, 11, 16), True, None),
 (95, 'Madeline', 'Rubio Vaught', datetime.date(2015, 12, 22), False, None),
 (96, 'Carl', 'Johnson Wall', datetime.date(2008, 4, 27), True, None),
 (97, 'John', 'Bond Morris', datetime.date(2016, 8, 26), True, None),
 (98, 'Jim', 'Zamora Weir', datetime.date(1997, 12, 16), False, None),
 (100, 'Alice', 'Brown Burg', datetime.date(2019, 9, 3), True, None),
 (101, 'Vanessa', 'Wilks Cromer', datetime.date(2003, 9, 25), True, None),
 (102, 'Kay', 'Smith Rhoades', datetime.date(1985, 9, 4), True, None),
 (103, 'Thomas', 'Threet Pineau', datetime.date(2010, 8, 18), True, None),
 (104, 'Aaron', 'Ward Lopez', datetime.date(1982, 1, 18), True, None),
 (105, 'Shannon', 'Schumacher Johnson', datetime.date(2018, 8, 3), False, None),
 (107, 'Cleo', 'Ellis Malloy', datetime.date(1996, 7, 21), False, None),
 (108, 'Guadalupe', 'Hanford Ligon', datetime.date(2022, 4, 27), False, None),
 (110, 'Jennifer', 'Thompson Colvin', datetime.date(1989, 11, 23), True, None),
 (111, 'John', 'Turpen Urban', datetime.date(1985, 10, 23), True, None),
 (112, 'Juanita', 'Fernandez Ziegler', datetime.date(2017, 4, 13), True, None),
 (113, 'John', 'Lamotte Truiolo', datetime.date(2004, 12, 30), True, None),
 (114, 'Gerald', 'Dorn Hurst', datetime.date(2016, 6, 22), False, None),
 (115, 'Sylvia', 'Rados Ashburn', datetime.date(2022, 9, 16), True, None),
 (116, 'Erica', 'Pershall Scott', datetime.date(1999, 10, 13), True, None),
 (117, 'Julia', 'Routt Smith', datetime.date(1982, 6, 16), False, None),
 (118, 'Clarence', 'Quinn Mcqueen', datetime.date(1988, 2, 6), False, None),
 (119, 'James', 'Hill Fields', datetime.date(1979, 12, 13), False, None),
 (122, 'Earl', 'Oquendo Sisler', datetime.date(2006, 7, 15), True, None),
 (123, 'Ida', 'Mallory Short', datetime.date(2008, 1, 6), False, None),
 (124, 'Darron', 'Roszel Siefert', datetime.date(1992, 8, 1), False, None),
 (125, 'Jeanne', 'Ikeda Santoro', datetime.date(1977, 4, 25), False, None),
 (126, 'Stephen', 'Bartley Greaves', datetime.date(1993, 8, 29), True, None),
 (51, 'Imogene', 'Moyer Paxton', datetime.date(2001, 12, 8), True, 240),
 (32, 'Aurora', 'Lynch Uhrig', datetime.date(2007, 4, 7), False, 340),
 (68, 'Sharon', 'Wright Majure', datetime.date(2013, 10, 29), False, 969),
 (121, 'Judy', 'Kurtz Ginn', datetime.date(2015, 4, 28), True, 223),
 (106, 'John', 'Walker Wheeler', datetime.date(1993, 10, 17), False, 501),
 (35, 'Steven', 'Irby Hamernik', datetime.date(1994, 10, 14), True, 3),
 (61, 'Francis', 'Pratt Delapena', datetime.date(2009, 7, 4), True, 993),
 (71, 'Clarence', 'Hirsch Hubbard', datetime.date(2012, 8, 9), False, 504),
 (72, 'Ryan', 'Lopez Sechrist', datetime.date(2001, 1, 18), False, 698),
 (17, 'Karen', 'Harrington Walker', datetime.date(2001, 7, 17), True, 887),
 (4, 'Lily', 'Bowen Ringel', datetime.date(2022, 9, 18), False, 86),
 (92, 'Vance', 'Parsons Fleming', datetime.date(1987, 6, 19), True, 333),
 (81, 'Ruth', 'Carrigan Bottorff', datetime.date(1971, 2, 26), False, 185),
 (46, 'William', 'Martinez Day', datetime.date(1978, 10, 2), True, 299),
 (109, 'Raul', 'Allen Green', datetime.date(2016, 2, 1), True, 765),
 (43, 'Kimberly', 'Luckett Jackson', datetime.date(2002, 9, 1), True, 905),
 (99, 'Gilbert', 'Mcgwin Robinson', datetime.date(1989, 12, 28), True, 395),
 (84, 'John', 'Boggs Santiago', datetime.date(1975, 7, 7), False, 453),
 (120, 'Aaron', 'Robleto Chase', datetime.date(2020, 6, 10), False, 198),
 (128, 'Sarah', 'Stollsteimer Ford', datetime.date(1994, 7, 10), False, None),
 (129, 'Ronald', 'Leonard Mcknight', datetime.date(1997, 9, 15), True, None),
 (131, 'Alfred', 'Hinton Lee', datetime.date(2009, 5, 15), True, None),
 (132, 'John', 'Fitzgerald Phillips', datetime.date(1993, 2, 27), True, None),
 (133, 'Arica', 'Mierzejewski Mathis', datetime.date(2009, 4, 11), False, None),
 (134, 'Claudine', 'Taylor Brown', datetime.date(2018, 2, 11), False, None),
 (135, 'Mary', 'Pence Singleton', datetime.date(2003, 8, 15), True, None),
 (136, 'Paula', 'Mikulak Sak', datetime.date(2002, 9, 2), True, None),
 (137, 'Marie', 'Mcallen Jansen', datetime.date(2015, 2, 11), False, None),
 (138, 'Hyon', 'Quirion Welch', datetime.date(1989, 2, 17), False, None),
 (140, 'Etta', 'Kirk Ott', datetime.date(2013, 5, 13), True, None),
 (141, 'Tommy', 'Kane Verde', datetime.date(2008, 9, 13), True, None),
 (145, 'Katharina', 'Abell Neighbors', datetime.date(1973, 10, 19), True, None),
 (146, 'Louis', 'Sizemore Dejesus', datetime.date(2019, 10, 13), True, None),
 (147, 'Jeanette', 'Leich Highshaw', datetime.date(2021, 12, 21), False, None),
 (148, 'Donna', 'Buford Williams', datetime.date(1972, 10, 16), False, None),
 (149, 'Austin', 'Bookman Allen', datetime.date(2017, 2, 24), True, None),
 (151, 'Cathy', 'Long Toler', datetime.date(1993, 9, 10), True, None),
 (152, 'Enrique', 'Johnson Bailey', datetime.date(2001, 3, 9), True, None),
 (154, 'Carolyn', 'Riddle Smith', datetime.date(1972, 9, 12), False, None),
 (155, 'Lenore', 'Clark Truman', datetime.date(1982, 3, 10), True, None),
 (157, 'Emily', 'Taylor Nichols', datetime.date(2018, 12, 25), False, None),
 (158, 'Kristina', 'Cassidy Ferrell', datetime.date(2008, 9, 22), True, None),
 (159, 'Wayne', 'Meagher Tedesco', datetime.date(2000, 3, 20), False, None),
 (160, 'Morris', 'Borrell Sturgis', datetime.date(1973, 8, 10), True, None),
 (161, 'Robert', 'Rodriguez Cleveland', datetime.date(2007, 8, 15), False, None),
 (162, 'William', 'Bailey Krick', datetime.date(1984, 7, 6), False, None),
 (163, 'Jerry', 'Shepherd Purdom', datetime.date(2016, 11, 15), False, None),
 (164, 'Kelly', 'Gamache Nohel', datetime.date(2022, 11, 2), False, None),
 (165, 'Mary', 'Hershman Simmons', datetime.date(1994, 2, 19), True, None),
 (166, 'Molly', 'Messick Johnson', datetime.date(2006, 11, 24), False, None),
 (167, 'Charles', 'Culliton Dorsey', datetime.date(1972, 2, 13), False, None),
 (169, 'Joseph', 'Kio Furman', datetime.date(2000, 6, 19), False, None),
 (170, 'Leslie', 'Cassell Bryant', datetime.date(1997, 10, 8), True, None),
 (171, 'Kathy', 'Gilliam Roe', datetime.date(2013, 1, 19), True, None),
 (172, 'Sarah', 'Rodriguez Ling', datetime.date(2004, 10, 24), True, None),
 (173, 'Jane', 'Leblanc Holder', datetime.date(1998, 1, 8), True, None),
 (174, 'Jordan', 'Styer Schreiner', datetime.date(1996, 9, 26), True, None),
 (175, 'Ronald', 'Nale Keough', datetime.date(2009, 9, 30), False, None),
 (176, 'Juanita', 'Olson Villareal', datetime.date(2021, 4, 12), False, None),
 (177, 'James', 'Withers Stpierre', datetime.date(2007, 7, 6), False, None),
 (178, 'Edgar', 'Fitzgerald Lynch', datetime.date(1984, 3, 1), False, None),
 (179, 'Paul', 'Dickey Kemppainen', datetime.date(1975, 12, 10), True, None),
 (180, 'Sabrina', 'Pritts Hammett', datetime.date(2015, 7, 1), True, None),
 (186, 'Steven', 'Lott Johnson', datetime.date(2015, 1, 9), False, None),
 (187, 'Elmer', 'Topping Swindell', datetime.date(2010, 5, 28), True, None),
 (188, 'James', 'Roberts Proffitt', datetime.date(2011, 1, 14), False, None),
 (190, 'Gary', 'Solis Smith', datetime.date(2001, 11, 8), False, None),
 (191, 'Gregory', 'Greer Bailey', datetime.date(1992, 3, 14), False, None),
 (192, 'Genevieve', 'Hutchins Armstead', datetime.date(1988, 12, 23), True, None),
 (193, 'Cecil', 'Barrier Gonzalez', datetime.date(1970, 9, 30), False, None),
 (194, 'Morris', 'Botts Priddy', datetime.date(1982, 7, 25), False, None),
 (195, 'David', 'Burchette Weaver', datetime.date(1977, 1, 11), True, None),
 (196, 'Sammie', 'Stetson Partain', datetime.date(2014, 3, 6), False, None),
 (197, 'John', 'Strassel Reiss', datetime.date(2019, 2, 21), True, None),
 (199, 'Michell', 'Jackson Sanchez', datetime.date(1998, 12, 18), True, None),
 (200, 'Carolyn', 'Denison Brown', datetime.date(1997, 2, 28), True, None),
 (201, 'John', 'Hooker Sellers', datetime.date(2004, 6, 12), True, None),
 (202, 'Jeff', 'Taylor Trombetta', datetime.date(2020, 2, 7), True, None),
 (203, 'Scott', 'Rodriguez Shockey', datetime.date(1991, 11, 9), False, None),
 (204, 'James', 'Kiley Cruz', datetime.date(1990, 6, 9), False, None),
 (205, 'Cynthia', 'Lee Harper', datetime.date(1979, 5, 7), True, None),
 (206, 'Linda', 'Nguyen Mcghee', datetime.date(2006, 2, 27), False, None),
 (207, 'Ora', 'Barela Handley', datetime.date(1998, 6, 24), False, None),
 (209, 'Kimberly', 'Esquilin Elio', datetime.date(2013, 10, 25), True, None),
 (210, 'Martha', 'Beaudoin Johnson', datetime.date(2018, 1, 11), False, None),
 (211, 'Michael', 'Townsend Ivey', datetime.date(1999, 9, 17), True, None),
 (212, 'Velma', 'Garcia Drake', datetime.date(1976, 7, 1), False, None),
 (213, 'Pedro', 'Delgado Tinajero', datetime.date(2010, 1, 25), True, None),
 (214, 'Francine', 'Carter Miller', datetime.date(1983, 10, 23), True, None),
 (215, 'Johnnie', 'Begley Fields', datetime.date(1979, 7, 13), True, None),
 (216, 'Edith', 'Keating Brookhouse', datetime.date(1995, 2, 28), True, None),
 (217, 'Irene', 'Jenness Heminger', datetime.date(1996, 11, 1), True, None),
 (218, 'Daniel', 'Whitehead Kane', datetime.date(2005, 11, 5), False, None),
 (219, 'Linda', 'Johnson Kazmierczak', datetime.date(1998, 5, 1), False, None),
 (220, 'Travis', 'Rock Furth', datetime.date(1974, 8, 18), False, None),
 (221, 'Leona', 'Howell Brown', datetime.date(2005, 8, 30), False, None),
 (222, 'Michele', 'Sitter Bullock', datetime.date(2020, 6, 26), True, None),
 (224, 'Jimmie', 'Baker Mondesir', datetime.date(2000, 3, 21), True, None),
 (225, 'Robert', 'Rue Esbenshade', datetime.date(1978, 11, 4), False, None),
 (226, 'May', 'Butler Henson', datetime.date(2014, 1, 1), False, None),
 (227, 'John', 'Williams Hambric', datetime.date(1981, 5, 13), True, None),
 (228, 'Ryan', 'Stevens Rich', datetime.date(2018, 12, 18), True, None),
 (229, 'Ryan', 'Ehmann Vanaman', datetime.date(1991, 9, 30), False, None),
 (230, 'Nathan', 'Kennedy Ramirez', datetime.date(1992, 8, 2), True, None),
 (231, 'Melissa', 'Perry Miller', datetime.date(1971, 9, 5), True, None),
 (232, 'Mary', 'Han Putnam', datetime.date(1973, 8, 6), False, None),
 (233, 'Arielle', 'Golding Arndt', datetime.date(2008, 1, 17), False, None),
 (234, 'Martha', 'Price Howard', datetime.date(2022, 4, 27), True, None),
 (235, 'Karen', 'Cooper Hawkins', datetime.date(2006, 11, 1), False, None),
 (236, 'David', 'Bowen Marion', datetime.date(1989, 3, 7), True, None),
 (237, 'James', 'Ourada Glass', datetime.date(1996, 2, 28), False, None),
 (238, 'Nikia', 'Gibbs Bosley', datetime.date(1993, 11, 22), False, None),
 (239, 'Mildred', 'Cuellar Neal', datetime.date(2001, 7, 12), True, None),
 (241, 'Kathleen', 'Blandon Lapoint', datetime.date(1981, 3, 3), True, None),
 (243, 'Elizabeth', 'Jacobsen Warner', datetime.date(1990, 8, 9), True, None),
 (244, 'Barbara', 'Johnson Smith', datetime.date(1976, 5, 12), True, None),
 (245, 'Linda', 'Farris Beal', datetime.date(1977, 11, 5), False, None),
 (246, 'Cory', 'House Vogt', datetime.date(2018, 10, 5), True, None),
 (247, 'Glenda', 'Dickerson Rodriguez', datetime.date(2012, 6, 23), True, None),
 (248, 'Stephen', 'Lynch York', datetime.date(2004, 1, 1), True, None),
 (249, 'Ricky', 'Newman Biddix', datetime.date(2006, 6, 4), True, None),
 (250, 'Lucille', 'Douglas Duckey', datetime.date(1997, 4, 22), True, None),
 (251, 'Deborah', 'Jackson Bridges', datetime.date(1973, 10, 3), False, None),
 (156, 'James', 'Ward Butler', datetime.date(2001, 3, 30), False, 704),
 (150, 'Al', 'Lusk Ponder', datetime.date(2015, 5, 17), False, 449),
 (153, 'Ralph', 'Blanding Klein', datetime.date(2016, 3, 24), True, 874),
 (223, 'Robert', 'Black Walling', datetime.date(2008, 10, 27), False, 121),
 (139, 'Cynthia', 'Norwood Gonzalez', datetime.date(2015, 10, 16), False, 726),
 (127, 'Elizabeth', 'Taube Benitez', datetime.date(1974, 2, 28), False, 602),
 (143, 'Steven', 'Bowman White', datetime.date(1982, 11, 5), True, 945),
 (168, 'Betty', 'Flurry Riley', datetime.date(1973, 3, 21), True, 851),
 (185, 'Cynthia', 'Vanbuskirk Suriel', datetime.date(1974, 11, 14), False, 81),
 (184, 'Frederick', 'Pimental Dowd', datetime.date(1984, 9, 3), True, 927),
 (183, 'Elijah', 'Little Boyd', datetime.date(1988, 2, 18), True, 242),
 (130, 'Pat', 'Potts Ladd', datetime.date(1985, 2, 28), True, 321),
 (181, 'Mackenzie', 'Bienenstock Taft', datetime.date(1979, 1, 15), False, 279),
 (208, 'Blanca', 'Melanson Bonner', datetime.date(2022, 6, 30), True, 424),
 (144, 'Peter', 'Lopez Downes', datetime.date(2000, 8, 20), True, 423),
 (182, 'James', 'Mcgovern Sykes', datetime.date(2000, 2, 7), False, 870),
 (198, 'Andrew', 'Orbin Vines', datetime.date(2003, 10, 9), False, 120),
 (142, 'Larry', 'Federico Johnston', datetime.date(2001, 5, 9), False, 928),
 (254, 'Linda', 'Rawls Jones', datetime.date(1996, 9, 14), False, None),
 (255, 'Daniel', 'Adams Hubbard', datetime.date(2011, 4, 16), False, None),
 (256, 'Matthew', 'Vinion Rosenfeld', datetime.date(1986, 10, 14), False, None),
 (257, 'Vera', 'Crum Whiteside', datetime.date(2018, 9, 10), True, None),
 (258, 'Ivan', 'Alford Estes', datetime.date(1980, 11, 28), False, None),
 (259, 'Christopher', 'Ramirez Pulis', datetime.date(2018, 2, 16), True, None),
 (260, 'Edward', 'Greenwood Bertozzi', datetime.date(2006, 4, 4), False, None),
 (261, 'Andrew', 'Charles Powell', datetime.date(1972, 3, 5), False, None),
 (262, 'Gertrude', 'Morris Guzman', datetime.date(2012, 11, 29), False, None),
 (263, 'Kenneth', 'Perrin Church', datetime.date(1970, 10, 10), True, None),
 (264, 'Salena', 'Ratterman Fisk', datetime.date(2020, 2, 1), False, None),
 (265, 'Peggy', 'Dobkins Henning', datetime.date(1974, 12, 19), False, None),
 (267, 'Viola', 'Merrow Kenny', datetime.date(1980, 2, 13), False, None),
 (269, 'Lisa', 'Ramos Levay', datetime.date(1985, 8, 31), False, None),
 (270, 'Gail', 'Topp Ikehara', datetime.date(2009, 8, 15), False, None),
 (272, 'Melissa', 'Martin Smith', datetime.date(2007, 12, 20), True, None),
 (273, 'Joaquin', 'Jones Fogle', datetime.date(1981, 11, 30), False, None),
 (274, 'Arthur', 'Mace Spatz', datetime.date(2010, 8, 10), False, None),
 (275, 'Annette', 'Weaver Milton', datetime.date(1985, 5, 3), False, None),
 (276, 'Ronald', 'Chavez Henley', datetime.date(2010, 7, 3), False, None),
 (277, 'Sherry', 'Bardwell Bunting', datetime.date(1990, 10, 31), False, None),

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

SELECT
    * 
FROM 
    *

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql

/* Reemplace estas queries por las que resuelven las consultas pedidas. */

%%sql
SELECT
    * 
FROM 
    *